.main{
    margin: 20px 20% 20px 20%;
    border: 1px solid;
    border-color: #DCDCDC;
    box-shadow: 5px 8px 10px 0px #888888;
    padding: 20px;
}
#defaultOpen{
    background-color: red;
    color: white;
}
.tablink {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    border-color:#DCDCDC;
    margin-top: 20px;
    display: flex;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 10%;
    font-size: 15px;
}
.tablink:hover{
    background-color: red;
    color: white;
}

.tablink:hover:active{
    background-color: red;
    color: white;
}
